doctype html
html(ng-app='app')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
		script(src='/javascripts/myApp.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js')
	body
		block content
