<h1>Add a Item</h1>

<form>
	<div class="form-group">
        <label>Name</label>		
        <input class="form-control" ng-model="item.name"></input>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="item.description"></textarea>
    </div>	

    <div class="form-group">
        <label>Start Bid: $</label>		
        <input type="number" class="form-control" ng-model="item.bid"></input>
    </div>

    <div class="form-group">
        <label>End Date</label>		
        <input type="date" class="form-control" ng-model="item.endDate"></input>
    </div>

    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>

</form>