<div class="col-md-3">
	<label for="s">Search:</label>
	<input id="s" ng-model="query">
	<br>
	<a href="/#/item/{{item._id}}">
	    back to details
	</a>
</div>


<div class="col-md-5">
	<h1> Bidding History </h1>

	<ul>
	    <li ng-repeat="bid in item.allbids| filter:query">
	    	{{bid}}
	    </li>
	</ul>
</div>