<h1>Delete Item</h1>
<p>
    Are you sure you want to delete this item?
</p>
<dl class="dl-horrizontal">
    <dt>Name:</dt> <dd> {{item.name}}</dd>
    <dt>Seller:<dt> <dd> {{item.seller}}</di>
    <dt>Description:<dt> <dd> {{item.description}}</dd>
    <dt>Current Bid:</dt> <dd> ${{item.bid}}</dd>
    <dt>End Date:</dt> <dd> {{item.endDate}}</dd>
    <dt>Upload Date:</dt> <dd> {{item.uploadDate}}</dd>
</dl>
<input type="button" value="Yes, Delete" class="btn btn-danger" ng-click="delete()" />
<a class="btn btn-default" href="/#/item/{{item._id}}">No, Go Back</a>