<h1> Details </h1>
<a href="/#/items">
    back to listing
</a>
<br><br>

<form>
	<div class="form-group">
    	<label>Place Bid: $</label>		
    	<input type="number" class="form-control" id="bid" ng-model="newbid"></input>
	</div>

    <input type="hidden" ng-model="item.seller"></input>   
    <input type="hidden" ng-model="item.uploadDate"></input>
    <input type="hidden" ng-model="item.endDate"></input>
    <input type="hidden" ng-model="item.name"></input>
    <input type="hidden" ng-model="item.description"></input>
    <input type="hidden" ng=model="item.allbids"></input>

    <input type="button" class="btn btn-primary" value="Bid" ng-click="bid()"></input>
</form>

<br>
<dl class="dl-horrizontal">
    <dt>Name:</dt> <dd> {{item.name}}</dd>
    <dt>Seller:<dt> <dd> {{item.seller}}</di>
    <dt>Description:<dt> <dd> {{item.description}}</dd>
    <dt>End Date:</dt> <dd> {{item.endDate}}</dd>
    <dt>Upload Date:</dt> <dd> {{item.uploadDate}}</dd>
</dl>

<a href="/#/item/edit/{{item._id}}">
    edit
</a>

<br>
<a href="/#/item/delete/{{item._id}}">
    delete
</a>
<br>
<a href="/#/item/bidhistory/{{item._id}}">
    see bid history
</a>