<b><p> Hello {{currUser}} </p></b>
<div class="col-md-3">
    <!--Sidebar content-->
    <label for="s">Search:</label>
    <input id="s" ng-model="query">

    <select ng-model="orderProp" class="ng-pristene ng-touched ng-valid">
        <option value="name">Alphabetical</option>
        <option value="bid">Cheapest</option>
        <option value="-bid">Most Expensive</option>
        <option value="-uploadDate">Newest</option>
        <option value="uploadDate">Oldest</option>
    </select>

    <br><br><br>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="user">
        <label for="password">Password:</label>
        <input type="text" id="password" ng-model="password">
        <br><br>
        <input type="button" class="btn btn-primary" value="Log In" ng-click="login()"></input>
        <input type="button" class="btn btn-primary" value="Register" ng-click="register()"></input>
        <input type="button" class="btn btn-primary" value="Log Out" ng-click="logout()"></input>
    </form>



</div>

<div class="col-md-5">

<h1> Item Listing </h1>
<ul>
    <li ng-repeat="item in items| filter:query | orderBy:orderProp">
    	<a href="/#/item/{{item._id}}">
            {{item.name}}
        </a>

        <ul>
        	<li> {{item.description}}
        	<li>Current Bid: ${{item.bid}}
        </ul>
    </li>
</ul>

<p>
    <a href="/#/add-item">Add an Item</a>
</p>
</div>